@import "tailwindcss";
*{
    font-family: "Roboto", sans-serif;
}

.backImg{
    background-image: url("./assets/subsctrac.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Circle{
    background: radial-gradient(circle at center, #FFCF3F 0%, transparent 60%);
}
