.swiper-button-next, .swiper-button-prev, .swiper-button-disabled {
    background: #0000008A !important;
    border: none !important;
    height: 100px !important;
    width: 50px !important;
    top: var(--swiper-navigation-top-offset, 40%) !important;
    color: #fff !important;
    border-radius: 30px !important;
    opacity: 1 !important;
}

html, body, #root {
    @apply h-full;
}

@media (width >= 450px) {
    .xsm-plr{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}