.swiper-button-next, .swiper-button-prev, .swiper-button-disabled {
    background: #0000008A !important;
    border: none !important;
    height: 100px !important;
    width: 50px !important;
    top: var(--swiper-navigation-top-offset, 40%) !important;
    color: #fff !important;
    border-radius: 30px !important;
    opacity: 1 !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

html, body, #root {
    @apply h-full;
}

@media (width >= 450px) {
    .xsm-plr{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}